---
import "../styles/global.css";
---

<html lang="en">
    <body>
        <h1
            class="text-6xl p-6 text-center underline decoration-dotted hover:decoration-green-600"
        >
            <a href="/">ar路chi路pel路a路go</a>
        </h1>
    </body>
</html>
